/*Reset*/
* {
    margin: 0;
    padding: 0;
}

.logo{
    max-width: 100px;
}

.fotologo{
    display: flex;
    justify-content: center;
}

.titulo{
    display: flex;
    justify-content: center;
}

/*Vista Mobile First*/

.contenedor{
    display:grid;
    grid-template-areas: "header"
    "nav"
    "parrafo"
    "foto"
    "texto"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #646F4B;
    font-family: "Neuton";
    color:antiquewhite;
}

header{
    grid-area: header;
    background-color: #0D160B;
}

header .titulo{
    font-family: "Nunito", cursive;
    color: white;
    font-size: 30px;
}

/*Menu hamburgesa*/

div.nav{
    grid-area: nav;
    background-color: #0D160B;
    font-family: "Roboto";
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}

.nav .lista-menu {
    display: none;
}

.boton-menu {
    box-sizing: border-box;
    display: block;
    color: #B9BEBA;
    margin: 1vh;
    height: 8vh;
    width: 8vh;
    border: 1px solid #B9BEBA;
    border-radius: 5px;
    line-height: 8vh;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.nav input:checked~.boton-menu {
    background: #B9BEBA;
    color: #21391e;
    border-color: #26391e;
}

.nav input:checked~.lista-menu {
    display: block;
    position: fixed;
    top: 15vh;
    right: 0;
    background-color: #305528;
    
}

#check-menu {
    display: none;
}

.item-menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid antiquewhite;
}

.item-menu:hover {
    filter: brightness(120%);
}

.item-menu a {
    text-decoration: none;
    color: antiquewhite;
}


/*Main del Index*/
div.parrafo{
    grid-area: parrafo;
    text-align: center;
    padding: 10px;
}

div.foto{
    grid-area: foto;
    display: flex;
    justify-content: center;
}

div.texto{
    grid-area: texto;
    text-align: center;
    padding: 10px;
}

footer{
    grid-area: footer;
    background-color: #646F4B;
}

footer ul{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

footer li{
    list-style-type: none;
}

/*Main de Quienes somos*/

.contenedor-quienessomos{
    display: grid;
    grid-template-areas: "header"
    "nav"
    "parrafo2"
    "foto2"
    "parrafo3"
    "foto3"
    "parrafo4"
    "video"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, auto);
    background-color: #646F4B;
    font-family: "Neuton";
    color:antiquewhite;
}

div.video{
    grid-area: video;
    display: flex;
    justify-content: center;
}

div.foto2{
    grid-area: foto2;
    padding: 10px;
    display: flex;
    justify-content: center;
}

div.parrafo2{
    grid-area: parrafo2;
    padding: 30px;
    text-align: center;
    font-family: "Neuton";
    font-size: 20px;
}

div.foto3{
    grid-area: foto3;
    padding: 30px;
    display: flex;
    justify-content: center;
}

div.parrafo3{
    grid-area: parrafo3;
    padding: 30px;
    text-align: center;
    font-family: "Neuton";
    font-size: 20px;
}

div.parrafo4{
    grid-area: parrafo4;
    padding: 30px;
    text-align: center;
    font-family: "Neuton";
    font-size: 20px;
}

/*Main de Sucursales*/

.contenedor-sucursales{
    display:grid;
    grid-template-areas: "header"
    "nav"
    "parrafosuc"
    "capital"
    "santafe"
    "cordoba"
    "mendoza"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, auto);
    background-color: #646F4B;
    font-family: "Neuton";
    color:antiquewhite;
}

div .parrafo-suc{
    grid-area: parrafosuc;
    padding: 30px;
    text-align: center;
    font-family: "Neuton";
    font-size: 20px;
}

div .capital{
    grid-area: capital;
    padding: 30px;
}

div .santafe{
    grid-area: santafe;
    padding: 30px;
}

div .cordoba{
    grid-area: cordoba;
    padding: 30px;
}

div .mendoza{
    grid-area: mendoza;
    padding: 30px;
}

.contenedor-sucursales h3{
    font-size: 30px;
}

/*Main de Contacto*/
.contenedor-contacto{
    display:grid;
    grid-template-areas: "header"
    "nav"
    "parrafo-con"
    "formulario-con"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    background-color: #646F4B;
    font-family: "Neuton";
    color:antiquewhite;
}

div .parrafo-con{
    grid-area: parrafo-con;
    font-size: 30px;
    padding: 30px;
}

div .formulario-con{
    grid-area: formulario-con;
    padding: 30px;
    font-size: 20px;
}

form label{
    display: block;
}

form input{
    display:block
}

/*Main de Nuestros Productos*/

.contenedor-productos{
    display: grid;
    grid-template-areas: "header"
    "nav"
    "titulo-prod"
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, auto);
    background-color: #646F4B;
    font-family: "Neuton";
    color:antiquewhite;
}

.titulo-prod{
    grid-area: titulo-prod;
}

.item1{
    grid-area: item1;
    
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}




/*Vista Desktop Index*/
@media screen and (min-width:768px) {
    .contenedor {
        grid-template-areas: "header header header header"
            "nav nav nav nav"
            "parrafo parrafo parrafo parrafo"
            "foto foto texto texto"
            "footer footer footer footer";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 50px auto auto auto;
    }

    .boton-menu {
        display: none;
    }

    .nav .lista-menu {
        display: flex;
        justify-content: space-around;
    }

    .item-menu {
        list-style: none;
        display: inline-block;
        line-height: 8vh;
        margin: 0 0.5em;
        padding: 0 5px;
        border-bottom: 0px;
    }

    /*Vista Desktop Quienes Somos*/

    .contenedor-quienessomos{
        grid-template-areas:"header header header header"
        "nav nav nav nav"
        "parrafo2 parrafo2 foto2 foto2"
        "parrafo3 parrafo3 foto3 foto3"
        "parrafo4 parrafo4 parrafo4 parrafo4"
        "video video video video"
        "footer footer footer footer";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 50px auto auto auto auto auto;
    }

    /*Vista Desktop Sucursales*/

    .contenedor-sucursales{
        grid-template-areas: "header header header header"
        "nav nav nav nav"
        "parrafosuc parrafosuc parrafosuc parrafosuc"
        "capital capital santafe santafe"
        "cordoba cordoba mendoza mendoza"
        "footer footer footer footer";
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
    }


    /*Vista Desktop Contacto*/

.contenedor-contacto{
    grid-template-areas: "header header header header"
    "nav nav nav nav"
    "parrafo-con parrafo-con formulario-con formulario-con"
    "parrafo-con parrafo-con formulario-con formulario-con"
    "footer footer footer footer";
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
}

/*Vista Desktop Nuestros Productos*/
.contenedor-productos{
    grid-template-areas: "header header header"
    "nav nav nav"
    "titulo-prod titulo-prod titulo-prod"
    "item1 item2 item3"
    "item4 item5 item6"
    "footer footer footer";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
}

}