/*PALETA DE COLORES DEL SITIO*/
$colors:(base:#305528,oscuro:#0D160B,suave:#b1eea3);

/*FUENTES USADAS*/
$font-title: "Nunito";
$font-body: "Neuton";

/*BREAKPOINT PARA IMAGENES Y LOGO*/
$desktop: 768px;